.button, .button--red, .button--blue {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: all .2s ease; }
  .button:focus, .button--red:focus, .button--blue:focus {
    outline: none; }
  .button:hover, .button--red:hover, .button--blue:hover {
    background: rgba(255, 255, 255, 0.055);
    text-decoration: none; }
  .button:active, .button--red:active, .button--blue:active {
    background: #fff;
    color: #252525 !important; }

.button--red {
  color: #ff5f58 !important;
  border-color: #ff5f58; }
  .button--red:hover {
    background: rgba(255, 95, 88, 0.055); }
  .button--red:active {
    background: #ff5f58;
    color: #252525; }

.button--blue {
  color: #58b2ff !important;
  border-color: #58b2ff; }
  .button--blue:hover {
    background: rgba(88, 178, 255, 0.055); }
  .button--blue:active {
    background: #58b2ff;
    color: #252525; }

@media (min-width: 1025px) {
  .button, .button--red, .button--blue {
    border-width: 3px;
    font-size: 13px;
    padding: 10px 20px; } }
