@import '../variables.scss';

.header {
  margin-top: 50px;
}

.header__picture {
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, $pink, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: double 2px transparent;
  border-radius: 100px;
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}