@import '../variables.scss';

.header {
  border-bottom: 1px solid rgb(228, 226, 226);
  padding: 20px 0;
  margin-bottom: 25px;
}

.header__picture {
  border-radius: 100px;
  display: block;
  height: 150px;
  margin: 0 auto;
  width: 150px;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: 35px;
  }

  .header__picture {
    height: 200px;
    width: 200px;
  }
}