@import "../variables.scss";

.menu {
  display: flex;
  justify-content: center;
}

.menu__list {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $primary-color;
      display: block;
      font-size: 12px;
      padding: 5px 10px;
      text-decoration: none;

      &:focus {
        outline: 0;
        border-bottom: 1px solid $primary-color;
      }
    }

    @media (min-width: $desktop-breakpoint) {
      a {
        font-size: 16px;
        padding: 10px 20px;
      }
    }

    @media (max-width: 320px) {
      a {
        font-size: 10px;
        padding: 3px 10px;
      }
    }
  }
}

.menu__item--active {
  font-weight: 700;
  border-bottom: 1px solid $primary-color;
}