@import '../variables.scss';

.skills {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.skills__header {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.skills__container {
  display: flex;
  justify-content: space-evenly;
}

.skills__item {
  font-family: 'Heebo';
  font-weight: 100;
  text-transform: uppercase;
}

@media (min-width: $desktop-breakpoint) {
  .skills__header {
    font-size: 15px;
    letter-spacing: 10px;
  }

  .skills__item {
    font-size: 30px;
  }
}