@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Heebo:100');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,700i');

@import './variables.scss';
@import './components/scrollbar.scss';

::selection {
  background: #000;
}

body {
  background-color: $bg-color;
  background-image: url('../static/images/bg_pattern.png');
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
}

img {
  pointer-events: none;
}

p {
  font-size: 13px;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    color: $primary-color;
  }
}

@media (min-width: $desktop-breakpoint) {
  p {
    font-size: 15px;
  }
}

.wrapper {
  min-height: 100%;

  /* This is the same as the height of the footer */
  margin-bottom: -100px;
}

.loading {
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
}

.text-black {
  color: $primary-color;
}

img,
a,
.button,
.header,
.skills__header,
.project__title,
.project__tech-item,
.footer__copyright {
  user-select: none;
}

.not-a-coder__misc-text {
  color: $primary-color;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
