@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800';
@import 'https://fonts.googleapis.com/css?family=Heebo:100';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300i,700i';
@import './variables.scss';

body {
  background-color: $bg-color;
  background-image: url('../static/images/bg_pattern.png');
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 13px;
}

@media (min-width: $desktop-breakpoint) {
  p {
    font-size: 16px;
  }
}

.wrapper {
  min-height: 100%;
  
  /* This is the same as the height of the footer */
  margin-bottom: -100px; 
}